<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">Holiday list</h1>
    <%= link_to "Add holiday", new_holiday_path, class: "new-button" %>
  </div>

  <div class="table-container">
    <table class="holidays-table">
      <thead>
        <tr>
          <th>วันที่</th>
          <th>ชื่อวันหยุด</th>
          <th>รายละเอียด</th>
          <th>ประเภท</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <% @holidays.each do |holiday| %>
          <tr>
            <td><%= holiday.date.strftime("%d/%m/%Y") %></td>
            <td><%= holiday.name %></td>
            <td><%= holiday.description %></td>
            <td>
              <div class="holiday-tags">
                <% if holiday.is_bank_holiday %>
                  <span class="holiday-tag bank-holiday">วันหยุดธนาคาร</span>
                <% end %>
                <% if holiday.is_exception %>
                  <span class="holiday-tag exception">ยกเว้น</span>
                <% end %>
              </div>
            </td>
            <td>
              <div class="holiday-actions">
                <%= link_to "แก้ไข", edit_holiday_path(holiday), class: "holiday-action-button edit-button" %>
                <%= button_to "ลบ", holiday, method: :delete, class: "holiday-action-button delete-button" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div> 