<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<div class="client-details">
  <div class="client-details-header">
    <h1 class="client-details-title">รายละเอียดลูกค้า</h1>
    <%= link_to "กลับไปหน้าหลัก", clients_path, class: "back-button" %>
  </div>

  <div class="client-info">
    <%= render @client %>
  </div>

  <div class="client-actions">
    <%= link_to "แก้ไขข้อมูล", edit_client_path(@client), class: "client-action-button edit-button" %>
    <%= button_to "ลบลูกค้า", @client, method: :delete, class: "client-action-button delete-button" %>
  </div>
</div>
