<div id="<%= dom_id project %>">
  <p>
    <strong>Project name:</strong>
    <%= project.project_name %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= project.site&.site_name%>
  </p>

  <p>
    <strong>Client:</strong>
    <%= project.site.client&.client_name %>
  </p>

  <p>
  <strong>Check In:</strong>
  <%= project.check_in&.strftime("%H:%M") || "N/A" %>
</p>
<p>
  <strong>Check Out:</strong>
  <%= project.check_out&.strftime("%H:%M") || "N/A" %>
</p>


</div>
