<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<% content_for :title, "Projects" %>

<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">Project list</h1>
    <% if current_user.admin? || current_user.super_admin? %>
      <%= link_to "New project", new_project_path, class: "new-button" %>
    <% end %>
  </div>

  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Project name</th>
          <th>Site</th>
          <th>Number of Employees</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td class="project-name"><%= project.project_name %></td>
            <td class="project-site"><%= project.site.site_name %></td>
            <td class="project-employees"><%= project.user_projects.count %> คน</td>
            <td>
              <div class="project-actions">
                <%= link_to "Show", project, class: "project-action-link show" %>
                <% if current_user.admin? %>
                  <%= link_to "Edit", edit_project_path(project), class: "project-action-link edit" %>
                  <%= button_to "Delete", project, method: :delete, class: "project-action-button delete", data: { confirm: 'คุณแน่ใจหรือไม่?' } %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
