<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<% content_for :title, "Projects" %>

<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">Project list</h1>
    <% if current_user.admin? || current_user.super_admin? %>
      <%= link_to "New project", new_project_path, class: "new-button" %>
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Project name</th>
        <th>Site</th>
        <th>Number of Employees (People)</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td ><%= project.project_name %></td>
          <td ><%= project.site.site_name %></td>
          <td ><%= project.user_projects.count %> </td>
          <td>
            <div class="table-actions">
              <%# <%= link_to "Show", project, class: "action-link show" %> 
              <%= link_to "Show pj user", project_users_path(project_id: project.id), class: "action-link show" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
