<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <% if current_user_is_admin? || current_user_is_super_admin? %>
  <%= link_to "จัดการผู้ใช้ในโปรเจ็ค", project_users_path(@project), class: "btn btn-info" %>
<% end %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>
