<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<% content_for :title, "Sites" %>

<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">Site list</h1>
    <% if current_user.admin? || current_user.super_admin? %>
      <%= link_to "Add site", new_site_path, class: "new-button" %>
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Site name</th>
        <th>Location</th>
        <th>Client</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td ><%= site.site_name %></td>
          <td ><%= site.location %></td>
          <td><%= site.client.client_name %></td>
          <td class="table-actions">
            <%= link_to "show", site, class: "action-link show" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
