<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<% content_for :title, "Sites" %>

<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">Site list</h1>
    <% if current_user.admin? || current_user.super_admin? %>
      <%= link_to "Add site", new_site_path, class: "new-button" %>
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Site name</th>
        <th>Location</th>
        <th>Client</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td ><%= site.site_name %></td>
          <td ><%= site.location %></td>
          <td><%= site.client&.client_name || '-' %></td>
          <td class="table-actions">
            <div class="action-link edit" onclick="window.location.href='<%= edit_site_path(site) %>'">
              <%= image_tag "icon/Edit.svg", class: "outline" %>
              <%= image_tag "icon/Edit_solid.svg", class: "solid" %>
            </div>
            <%= button_to site_path(site),
                method: :delete,
                class: "action-link delete",
                form: { data: { 
                  turbo_confirm: "This site has #{site.projects.count} projects and #{site.projects.sum { |p| p.timesheets.count }} timesheets.\n\nAre you sure you want to delete this site?"
                } } do %>
              <%= image_tag "icon/Delete.svg", class: "outline" %>
              <%= image_tag "icon/Delete_solid.svg", class: "solid" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
