<div class="page-container">
    <div class="back-link">
    <%= link_to "Back to Project", projects_path, class: "back-button" %>
  </div>
  <div class="page-header">
    <h1 class="page-title">Member in project : <%= @project.project_name %></h1>
    <%= link_to "Add employee", new_project_user_path(@project), class: "new-button" %>
  </div>

 
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @project_users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td>
            <% user_project = UserProject.find_by(user: user, project: @project) %>
            <%= user_project&.position&.titleize %>
          </td>
          <td>
            <div class="table-actions">
              <div class="action-link edit" onclick="window.location.href='<%= edit_project_user_path(@project, user_project.user) %>'">
                <%= image_tag "icon/Edit.svg", class: "outline" %>
                <%= image_tag "icon/Edit_solid.svg", class: "solid" %>
              </div>
              <%= button_to project_user_path(@project, user), 
                  method: :delete, 
                  class: "action-link delete",
                  data: { confirm: 'Are you sure you want to remove this user from the project?' } do %>
                <%= image_tag "icon/Delete.svg", class: "outline" %>
                <%= image_tag "icon/Delete_solid.svg", class: "solid" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>