<div class="page-container">
  <div class="back-link">
    <%= link_to "Back to Project", projects_path, class: "back-button" %>
  </div>

  <% if current_user.admin? %>
    <div class="minimal-form shadow" style="margin-top: 1rem;">
      <div class="page-header"> 
        <h2>Export Timesheet Report</h2>
      </div>
      <%= form_tag export_pdf_project_path(@project, format: :pdf), method: :get, class: "export-form" do %>
        <div class="form-group">
            <%= label_tag :month, "Select Month:", class: "form-label" %>
            <%= select_tag :month, options_for_select((1..12).map { |m| [I18n.t('date.month_names')[m], m] }, Time.current.month), { class: "form-select" } %>
        </div>
        <div class="form-group">
            <%= label_tag :year, "Select Year:", class: "form-label"  %>
            <%= select_tag :year, options_for_select((Time.current.year-1..Time.current.year+1), Time.current.year), { class: "form-select" } %>
        </div>
          <%= submit_tag "Export PDF", class: "export-button" %>
      <% end %>
    </div>
  <% end %> 

  <div class="page-header">
    <h1 class="page-title">Member in project : <%= @project.project_name %></h1>
    <%= link_to "Add employee", new_project_user_path(@project), class: "new-button" %>
  </div>

 
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @project_users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td>
            <% user_project = UserProject.find_by(user: user, project: @project) %>
            <%= user_project&.position&.titleize %>
          </td>
          <td>
            <div class="table-actions">
              <div class="action-link edit" onclick="window.location.href='<%= edit_project_user_path(@project, user_project.user) %>'">
                <%= image_tag "icon/Edit.svg", class: "outline" %>
                <%= image_tag "icon/Edit_solid.svg", class: "solid" %>
              </div>
              <div>
  <%= button_to project_user_path(@project, user_project),
    method: :delete,
    class: "action-link delete",
    form: { data: {
      turbo_confirm: user_project.timesheets.any? ?
        "This member has timesheet.\n\nDeleting it will remove all timesheet associated links.\nAre you sure?" :
        "Are you sure you want to remove this member?"
    } } do %>
      <%= image_tag "icon/Delete.svg", class: "outline" %>
      <%= image_tag "icon/Delete_solid.svg", class: "solid" %>
  <% end %>
</div>

            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>