<div class="page-container">
  <div class="back-link">
    <%= link_to "Back to Project Users", project_users_path(@project), class: "back-button" %>
  </div>

  <div class="page-header">
    <h1 class="page-title">Add New Member</h1>
  </div>

  <div class="minimal-form shadow">
    <%= form_with(url: project_users_path(@project), method: :post, local: true) do |form| %>
      <%= form.hidden_field :project_id, value: @project.id %>
      <div class="form-group">
        <%= form.label :user_id, "Select User", class: "form-label" %>
        <%= form.collection_select :user_id, @available_users, :id, :email, { prompt: "Choose a user" }, { class: "form-select" } %>
      </div>
      <div class="form-group">
        <%= form.label :position, "Position", class: "form-label" %>
        <%= form.select :position, UserProject.positions.keys.map { |position| [position.titleize, position] }, { prompt: "Select Position" }, { class: "form-select" } %>
      </div>
      <div class="form-actions">
        <%= form.submit "Add Member", class: "minimal-button primary" %>
        <%= link_to "Cancel", project_users_path(@project), class: "minimal-button" %>
      </div>
    <% end %>
  </div>
</div>