<h1 class= "page-title">Add member to  <%= @project.project_name %></h1>

<%= form_with url: project_users_path(@project), method: :post do |form| %>
<% if @user_project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user_project.errors.count, "error") %> prohibited this user project from being saved:</h2>

      <ul>
        <% @user_project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :user_id, "Member:" %>
    <%= form.collection_select :user_id, @available_users, :id, :email, { prompt: "choose Member" } %>
  </div>

    <div class="field">
    <%= form.label :position, "Role:" %>
    <%= form.select :position, UserProject.positions.keys.map { |key| [key.titleize, key] }, { prompt: "Choose role" }, { name: 'user_project[position]', id: 'position' } %>
  </div>
  <div>
    <%= form.submit "Add member", class: "btn btn-success" %>
  </div>

   
<% end %>

<%= link_to "Back to member list", project_users_path(@project) %>