<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Timesheet App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-visit-control" content="reload">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
    <ul>
      <li><%= link_to "Time Sheets", timesheets_path %></li>
      <% if current_user&.role != 'user' %>
        <% if current_user&.role != 'admin' %>
          <li><%= link_to "Site Management", sites_path, class: "nav-link" %></li>
        <% end %>
        <li><%= link_to "Project Management", projects_path, class: "nav-link" %></li>
        <li><%= link_to "Client Management", clients_path, class: "nav-link" %></li>
      <% end %>
      <% if current_user&.role == 'super_admin' %>
        <li><%= link_to "People Management", admin_people_path, class: "nav-link" %></li>
      <% end %>

      <%# <%= link_to "Profile", edit_user_profile_path if user_signed_in? %> 
      <%= link_to "Profile", edit_user_registration_path if user_signed_in? %>

      
      <%= button_to "ออกจากระบบ", destroy_user_session_path, method: :delete %>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
